<div class="t-issue-list">
    <div class="t-content">
        <input ng-model="query" placeholder="Search" type="text">
        <div ng-repeat="issue in $ctrl.issues | filter:query" class="t-content t-issue">
            <issue-preview 
                ng-show="!issue.editMode" 
                issue="issue"
            ></issue-preview>
            <issue-edit 
                ng-show="issue.editMode" 
                issue="issue"
            ></issue-edit>
            <issue-tag-list
                issue="issue"
            ></issue-tag-list>
            <issue-controls
                delete-issue="$ctrl.deleteIssue($event)"
                edit-mode="issue.editMode"
                issue-id="issue.id"
                toggle-edit="$ctrl.toggleEdit($event)"
            ></issue-controls>
        </div>
    </div>
</div>
