<div class="t-issue-list">
    <div class="t-content">
        <h1>Issue List</h1>
        <h2>Filter by Tag</h2>
        <!-- <input 
            ng-model="query" 
            placeholder="Search" 
            type="text"
            class="t-input-text t-input-text--list-search"
        > -->
        <span  
            ng-repeat="tag in $ctrl.allTags" 
            ng-click="$ctrl.selectFilter(tag)" 
            ng-class="{ 't-tag-filter--active' : tag === $ctrl.selectedTag }" 
            class="t-tag t-tag-filter__choice"
        >{{tag}}
        </span>
        <span 
            ng-click="$ctrl.clearTagFilter()" 
            class="t-tag t-tag-filter__clear"
        >Clear Filter
        </span>
        <div ng-repeat="issue in $ctrl.issues" ng-if="$ctrl.filterByTags(issue, $ctrl.selectedTag)" class="t-content t-issue">
            <issue-preview 
                ng-show="!issue.editMode" 
                issue="issue"
            ></issue-preview>
            <issue-edit 
                ng-show="issue.editMode" 
                issue="issue.backup"
            ></issue-edit>
            <issue-tag-list
                issue="issue"
                filter-handler="$ctrl.tagEventHandler($event)"
            ></issue-tag-list>
            <issue-controls
                cancel-handler="$ctrl.cancelEdit($event)"
                delete-handler="$ctrl.deleteIssue($event)"
                edit-handler="$ctrl.editIssue($event)"
                edit-mode="issue.editMode"
                issue-id="issue.id"
                update-handler="$ctrl.updateIssue($event)"
            ></issue-controls>
        </div>
        <div class="t-content t-issue">
            <div class="t-content t-issue-edit">
                <h2>Add a new issue</h2>
                <input 
                    ng-model="$ctrl.newIssue.title"
                    class="t-input-text t-u-full-width t-issue-edit__title"
                    placeholder="Enter title"
                    type="text">
                <textarea 
                    ng-model="$ctrl.newIssue.text"
                    placeholder="Enter text (HTML OK)"
                    class="t-input-text t-u-full-width t-issue-edit__text-area"
                ></textarea>
                <span ng-repeat="tag in $ctrl.newIssue.tags" class="t-tag">
                    <span class="t-tag__content">{{ tag }}</span>
                    <span ng-click="$ctrl.removeTag(tag)" class="t-tag__delete">x</span>
                </span>
                <br>
                <div class="t-tag-adder">
                    <input ng-model="newTag" class="t-input-text t-tag-adder__input" placeholder="Add new tag" type="text">
                    <button ng-click="$ctrl.addTag(newTag)" class="t-btn t-tag-adder__btn">+</button>
                </div>
                <br>
                <button ng-click="$ctrl.saveNew()" class="t-btn">Save New</button>
            </div>
        </div>
    </div>
</div>
