$dark-blue: #081A31;
$light-grey: #CBD5D6;
$medium-grey: #9DA7AE;
$dark-grey: #333332;
$cyan: #00A2DD;
$dark-cyan: #006C99;
$viridian: #00AB91;
$dark-viridian: #00876E;
$dark-grey: #333332;
$vermillion: #F05123;
$dark-vermillion: #C44826;
$chartreuse: #B0C636;
$dark-chartreuse: #849C3A;
$saffron: #FDB515;
$dark-saffron: #CE9126;
$fuschia: #B8258F;
$dark-fuschia: #7F236E;
$white: #FFFFFF;