@import './colors';
* {
  box-sizing: border-box;
}

html,
body {
  color: $dark-blue;
  font-family: sans-serif;
  font-size: 16px;
}

// Vertical spacing scale
$vertical-spacing: 4rem;
$vertical-spacing-half: $vertical-spacing / 2;
$vertical-spacing-third: $vertical-spacing / 3;
$vertical-spacing-double: $vertical-spacing * 2;

// Setup lobotomized owl
.t-content > * {
  margin-bottom: 0;
  margin-top: 0;
}

.t-content > * + * {
  margin-top: $vertical-spacing-third;
}

.t-u-full-width {
  clear: both;
  display: block;
  width: 100%;
  max-width: 100%;
}
// input base
.t-input-text {
  background-color: $white;
  border: 1px solid $medium-grey;
  color: $dark-grey;
  line-height: 1.4;
  padding: 8px;
  padding-top: 10px;
  transition: all .3s ease-in-out;
  will-change: width, border-size;
}
.t-input-text:focus {
  background-color: #fefefe;
  border-color: $viridian;
  color: $dark-viridian;
}

// issue search
.t-input-text--list-search {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.t-input-text--list-search:focus{
  border: 4px solid $viridian;
  font-size: 24px;
  padding: 16px;
  padding-top: 20px;
  width: 100%;
}
// issue list
.t-issue-list {
  margin: $vertical-spacing auto;
  max-width: 1140px;
  padding: 0 16px;
}

.t-issue {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(17,17,17,0.4);
  -moz-box-shadow: 1px 1px 3px 0px rgba(17,17,17,0.4);
  box-shadow: 1px 1px 3px 0px rgba(17,17,17,0.4);
  padding: $vertical-spacing-third 16px;
}

// Buttons
.t-btn-group > * + * {
  margin-top: $vertical-spacing-third;
}

.t-btn {
  background: $viridian;
  border: 1px solid $viridian;
  border-radius: 0;
  color: $white;
  display: block;
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 8px 16px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, border-color .3s;
  width: 100%;
}

.t-btn:hover {
  background: $dark-viridian;
  border-color: $dark-viridian;
  color: $white;
  cursor: pointer;
}

.t-btn:focus {
  outline: none;
}

.t-btn.t-btn--delete {
    background: tomato;
    border: 1px solid tomato;
    color: $white;
}

.t-btn.t-btn--delete:hover {
    background: red;
    border-color: red;
}

@media screen and (min-width: 768px) {
  .t-btn-group > * + * {
    margin-top: 0;
    margin-left: 15px;
  }

  .t-btn {
    display: inline-block;
    width: unset;
  }
}